## Single page Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all the doctors info on page 292.
- Export the content into a CSV file called ```page_292.csv```.

In [1]:
import pandas as pd

In [2]:
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action"

In [4]:
pd.read_html(url)

[                                  Physician Last Name  \
 0                                                Rush
 1                                             Katzman
 2                                               Stein
 3                                              Tzimas
 4                                                Lape
 5                                                 Pua
 6                                         Contristano
 7                                              Ginnan
 8                                                Choi
 9                                                Choi
 10                                             Mutasa
 11                                             Howard
 12                                              Desai
 13                                         Giacopelli
 14                                               Goli
 15                                            Pollaro
 16                                            Epstein
 17                                          Wingfield
 18                                            Epstein
 19                                           Cricchio
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                               Aisha                   NaN
 1                                               Scott                    S.
 2                                               Peter                    H.
 3                                         Konstantine                    N.
 4                                             Jeffrey                   NaN
 5                                            Florence                   NaN
 6                                           Salvatore                    J.
 7                                             Shannon                    R.
 8                                                Sung                    D.
 9                                             Stephen                   NaN
 10                                           Simukayi                    T.
 11                                              Keith                   NaN
 12                                           Jignyasa                   NaN
 13                                               Paul                    M.
 14                                      Sadasivareddy                   NaN
 15                                              Frank                    T.
 16                                             Robert                   NaN
 17                                              Guito                    C.
 18                                          Micheline                    L.
 19                                              Frank                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         284117.0           MD     09/24/2024   09/27/2024         1977.0
 1         265913.0           MD     10/03/2024   09/26/2024         1963.0
 2         176055.0           MD     09/16/2024   09/23/2024         1959.0
 3         255305.0           MD     09/20/2024   09/23/2024         1980.0
 4            489.0           PA     09/26/2024   09/19/2024         1952.0
 5         197443.0           MD     09/26/2024   09/19/2024         1950.0
 6          99572.0           MD     09/26/2024   09/19/2024         1940.0
 7         221859.0           MD     09/26/2024   09/19/2024         1972.0
 8         110386.0           MD     09/16/2024   09/17/2024         1936.0
 9         110386.0           MD     09/16/2024   09/17/2024         1936.0
 10        289620.0           MD     09/20/2024   09/13/2024         1987.0
 11           992.0           PA     08/29/2024   09/13/2024         1949.0
 12        262711.0           DO     08/29/2024   09/13/2024         1978.0
 13        192582.0           MD     09/20/2024   09/13/2024         1964.0
 14        223727.0           MD     09/20/2024   09/13/2024         1970.0
 15        201704.0           MD     09/18/2024   09/11/2024         1969.0
 16        228876.0           MD     09/12/2024   09/05/2024         1974.0
 17        175827.0           MD     08/29/2024   09/04/2024         1954.0
 18        275648.0           MD     09/03/2024   08/27/2024         1972.0
 19        188670.0           MD     09/03/2024   08/27/2024         1957.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                 Rush                Aisha                   NaN
 1              Katzman                Scott                    S.
 2                Stein                Peter                    H.
 3               Tzimas          Konstantine                    N.
 4                 Lape              Jeffrey                   NaN
 5                  Pua             Florence                   NaN
 6          Contristano            Salvatore                    J.
 7               Ginnan              Shannon                    R.
 8                 Choi                 Sung                    D.
 9                 Choi              Stephen                   NaN
 10              Mutasa             Simukayi                    T.
 11              Howard                Keith                   NaN
 12               Desai             Jignyasa                   NaN
 13          Giacopelli                 Paul                    M.
 14                Goli        Sadasivareddy                   NaN
 15             Pollaro                Frank                    T.
 16             Epstein               Robert                   NaN
 17           Wingfield                Guito                    C.
 18             Epstein            Micheline                    L.
 19            Cricchio                Frank                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           284117           MD     09/24/2024   09/27/2024           1977
 1           265913           MD     10/03/2024   09/26/2024           1963
 2           176055           MD     09/16/2024   09/23/2024           1959
 3           255305           MD     09/20/2024   09/23/2024           1980
 4              489           PA     09/26/2024   09/19/2024           1952
 5           197443           MD     09/26/2024   09/19/2024           1950
 6            99572           MD     09/26/2024   09/19/2024           1940
 7           221859           MD     09/26/2024   09/19/2024           1972
 8           110386           MD     09/16/2024   09/17/2024           1936
 9           110386           MD     09/16/2024   09/17/2024           1936
 10          289620           MD     09/20/2024   09/13/2024           1987
 11             992           PA     08/29/2024   09/13/2024           1949
 12          262711           DO     08/29/2024   09/13/2024           1978
 13          192582           MD     09/20/2024   09/13/2024           1964
 14          223727           MD     09/20/2024   09/13/2024           1970
 15          201704           MD     09/18/2024   09/11/2024           1969
 16          228876           MD     09/12/2024   09/05/2024           1974
 17          175827           MD     08/29/2024   09/04/2024           1954
 18          275648           MD     09/03/2024   08/27/2024           1972
 19          188670           MD     09/03/2024   08/27/2024           1957  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [5]:
response = pd.read_html(url)
response

[                                  Physician Last Name  \
 0                                                Rush
 1                                             Katzman
 2                                               Stein
 3                                              Tzimas
 4                                                Lape
 5                                                 Pua
 6                                         Contristano
 7                                              Ginnan
 8                                                Choi
 9                                                Choi
 10                                             Mutasa
 11                                             Howard
 12                                              Desai
 13                                         Giacopelli
 14                                               Goli
 15                                            Pollaro
 16                                            Epstein
 17                                          Wingfield
 18                                            Epstein
 19                                           Cricchio
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                               Aisha                   NaN
 1                                               Scott                    S.
 2                                               Peter                    H.
 3                                         Konstantine                    N.
 4                                             Jeffrey                   NaN
 5                                            Florence                   NaN
 6                                           Salvatore                    J.
 7                                             Shannon                    R.
 8                                                Sung                    D.
 9                                             Stephen                   NaN
 10                                           Simukayi                    T.
 11                                              Keith                   NaN
 12                                           Jignyasa                   NaN
 13                                               Paul                    M.
 14                                      Sadasivareddy                   NaN
 15                                              Frank                    T.
 16                                             Robert                   NaN
 17                                              Guito                    C.
 18                                          Micheline                    L.
 19                                              Frank                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         284117.0           MD     09/24/2024   09/27/2024         1977.0
 1         265913.0           MD     10/03/2024   09/26/2024         1963.0
 2         176055.0           MD     09/16/2024   09/23/2024         1959.0
 3         255305.0           MD     09/20/2024   09/23/2024         1980.0
 4            489.0           PA     09/26/2024   09/19/2024         1952.0
 5         197443.0           MD     09/26/2024   09/19/2024         1950.0
 6          99572.0           MD     09/26/2024   09/19/2024         1940.0
 7         221859.0           MD     09/26/2024   09/19/2024         1972.0
 8         110386.0           MD     09/16/2024   09/17/2024         1936.0
 9         110386.0           MD     09/16/2024   09/17/2024         1936.0
 10        289620.0           MD     09/20/2024   09/13/2024         1987.0
 11           992.0           PA     08/29/2024   09/13/2024         1949.0
 12        262711.0           DO     08/29/2024   09/13/2024         1978.0
 13        192582.0           MD     09/20/2024   09/13/2024         1964.0
 14        223727.0           MD     09/20/2024   09/13/2024         1970.0
 15        201704.0           MD     09/18/2024   09/11/2024         1969.0
 16        228876.0           MD     09/12/2024   09/05/2024         1974.0
 17        175827.0           MD     08/29/2024   09/04/2024         1954.0
 18        275648.0           MD     09/03/2024   08/27/2024         1972.0
 19        188670.0           MD     09/03/2024   08/27/2024         1957.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                 Rush                Aisha                   NaN
 1              Katzman                Scott                    S.
 2                Stein                Peter                    H.
 3               Tzimas          Konstantine                    N.
 4                 Lape              Jeffrey                   NaN
 5                  Pua             Florence                   NaN
 6          Contristano            Salvatore                    J.
 7               Ginnan              Shannon                    R.
 8                 Choi                 Sung                    D.
 9                 Choi              Stephen                   NaN
 10              Mutasa             Simukayi                    T.
 11              Howard                Keith                   NaN
 12               Desai             Jignyasa                   NaN
 13          Giacopelli                 Paul                    M.
 14                Goli        Sadasivareddy                   NaN
 15             Pollaro                Frank                    T.
 16             Epstein               Robert                   NaN
 17           Wingfield                Guito                    C.
 18             Epstein            Micheline                    L.
 19            Cricchio                Frank                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           284117           MD     09/24/2024   09/27/2024           1977
 1           265913           MD     10/03/2024   09/26/2024           1963
 2           176055           MD     09/16/2024   09/23/2024           1959
 3           255305           MD     09/20/2024   09/23/2024           1980
 4              489           PA     09/26/2024   09/19/2024           1952
 5           197443           MD     09/26/2024   09/19/2024           1950
 6            99572           MD     09/26/2024   09/19/2024           1940
 7           221859           MD     09/26/2024   09/19/2024           1972
 8           110386           MD     09/16/2024   09/17/2024           1936
 9           110386           MD     09/16/2024   09/17/2024           1936
 10          289620           MD     09/20/2024   09/13/2024           1987
 11             992           PA     08/29/2024   09/13/2024           1949
 12          262711           DO     08/29/2024   09/13/2024           1978
 13          192582           MD     09/20/2024   09/13/2024           1964
 14          223727           MD     09/20/2024   09/13/2024           1970
 15          201704           MD     09/18/2024   09/11/2024           1969
 16          228876           MD     09/12/2024   09/05/2024           1974
 17          175827           MD     08/29/2024   09/04/2024           1954
 18          275648           MD     09/03/2024   08/27/2024           1972
 19          188670           MD     09/03/2024   08/27/2024           1957  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [6]:
len(response)

4

In [7]:
response[0]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Rush,Aisha,NaN,284117.0,MD,09/24/2024,09/27/2024,1977.0
1,Katzman,Scott,S.,265913.0,MD,10/03/2024,09/26/2024,1963.0
2,Stein,Peter,H.,176055.0,MD,09/16/2024,09/23/2024,1959.0
3,Tzimas,Konstantine,N.,255305.0,MD,09/20/2024,09/23/2024,1980.0
4,Lape,Jeffrey,NaN,489.0,PA,09/26/2024,09/19/2024,1952.0
5,Pua,Florence,NaN,197443.0,MD,09/26/2024,09/19/2024,1950.0
6,Contristano,Salvatore,J.,99572.0,MD,09/26/2024,09/19/2024,1940.0
7,Ginnan,Shannon,R.,221859.0,MD,09/26/2024,09/19/2024,1972.0
8,Choi,Sung,D.,110386.0,MD,09/16/2024,09/17/2024,1936.0
9,Choi,Stephen,NaN,110386.0,MD,09/16/2024,09/17/2024,1936.0
10,Mutasa,Simukayi,T.,289620.0,MD,09/20/2024,09/13/2024,1987.0
11,Howard,Keith,NaN,992.0,PA,08/29/2024,09/13/2024,1949.0
12,Desai,Jignyasa,NaN,262711.0,DO,08/29/2024,09/13/2024,1978.0
13,Giacopelli,Paul,M.,192582.0,MD,09/20/2024,09/13/2024,1964.0
14,Goli,Sadasivareddy,NaN,223727.0,MD,09/20/2024,09/13/2024,1970.0
15,Pollaro,Frank,T.,201704.0,MD,09/18/2024,09/11/2024,1969.0
16,Epstein,Robert,NaN,228876.0,MD,09/12/2024,09/05/2024,1974.0
17,Wingfield,Guito,C.,175827.0,MD,08/29/2024,09/04/2024,1954.0
18,Epstein,Micheline,L.,275648.0,MD,09/03/2024,08/27/2024,1972.0
19,Cricchio,Frank,NaN,188670.0,MD,09/03/2024,08/27/2024,1957.0
20,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = response[0]

In [11]:
df.to_csv("page_292.csv", index = False, encoding = "UTF-8")

In [12]:
pd.read_csv("page_292.csv")

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Paal,Adam,NaN,NaN,MD,10/30/2000,NaN,1961.0
1,Pace,Enrico,NaN,166026.0,MD,08/21/2001,NaN,1956.0
2,Pace,Leonard,NaN,172870.0,MD,01/15/2002,01/22/2002,1952.0
3,Pacetti,Stephen,J,175021.0,MD,04/14/2016,04/07/2016,1957.0
4,Pachas,Hector,M,95535.0,MD,02/11/1993,NaN,NaN
5,Pacheco,Denny,J.,258600.0,DO,08/27/2020,08/26/2020,1962.0
6,Pacik,Peter,NaN,96944.0,MD,11/15/2012,11/09/2012,1940.0
7,Pacis,Andresito,B.,125213.0,MD,10/22/2021,10/22/2021,1938.0
8,Pack,A,Stephen,183669.0,MD,04/28/2000,07/19/2001,1956.0
9,Packianathan,Emmanuel,NaN,203833.0,MD,07/31/2008,07/25/2008,1945.0
10,Packianathan,Emmanuel,NaN,203833.0,MD,07/15/2016,07/18/2016,1946.0
11,Padeh,Asher,NaN,108572.0,MD,04/18/1997,NaN,NaN
12,Padeh,Asher,NaN,108572.0,MD,07/10/1995,NaN,NaN
13,Padilla,Crisologo,NaN,109998.0,MD,10/08/2002,04/05/2011,1935.0
14,Padilla,Maria,Lourdes B,148379.0,MD,09/13/2001,10/15/2001,1951.0
15,Padilla,Maria,NaN,191849.0,MD,04/20/2011,04/18/2011,1962.0
16,Padnani,Koshi,NaN,159535.0,MD,05/19/1993,03/22/2004,NaN
17,Paduch,Darius,Adam,227386.0,MD,09/05/2023,08/29/2023,1967.0
18,Pagano,Anthony,NaN,80588.0,MD,11/12/1997,NaN,NaN
19,Pagano,Dwight,M,141105.0,MD,06/09/2004,06/04/2004,1952.0
20,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

## Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "P".
- Export the content into a CSV file called ```md_P.csv```.

In [8]:
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P*"

In [9]:
response = pd.read_html(url)
response[0]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Paal,Adam,NaN,NaN,MD,10/30/2000,NaN,1961.0
1,Pace,Enrico,NaN,166026.0,MD,08/21/2001,NaN,1956.0
2,Pace,Leonard,NaN,172870.0,MD,01/15/2002,01/22/2002,1952.0
3,Pacetti,Stephen,J,175021.0,MD,04/14/2016,04/07/2016,1957.0
4,Pachas,Hector,M,95535.0,MD,02/11/1993,NaN,NaN
5,Pacheco,Denny,J.,258600.0,DO,08/27/2020,08/26/2020,1962.0
6,Pacik,Peter,NaN,96944.0,MD,11/15/2012,11/09/2012,1940.0
7,Pacis,Andresito,B.,125213.0,MD,10/22/2021,10/22/2021,1938.0
8,Pack,A,Stephen,183669.0,MD,04/28/2000,07/19/2001,1956.0
9,Packianathan,Emmanuel,NaN,203833.0,MD,07/31/2008,07/25/2008,1945.0
10,Packianathan,Emmanuel,NaN,203833.0,MD,07/15/2016,07/18/2016,1946.0
11,Padeh,Asher,NaN,108572.0,MD,04/18/1997,NaN,NaN
12,Padeh,Asher,NaN,108572.0,MD,07/10/1995,NaN,NaN
13,Padilla,Crisologo,NaN,109998.0,MD,10/08/2002,04/05/2011,1935.0
14,Padilla,Maria,Lourdes B,148379.0,MD,09/13/2001,10/15/2001,1951.0
15,Padilla,Maria,NaN,191849.0,MD,04/20/2011,04/18/2011,1962.0
16,Padnani,Koshi,NaN,159535.0,MD,05/19/1993,03/22/2004,NaN
17,Paduch,Darius,Adam,227386.0,MD,09/05/2023,08/29/2023,1967.0
18,Pagano,Anthony,NaN,80588.0,MD,11/12/1997,NaN,NaN
19,Pagano,Dwight,M,141105.0,MD,06/09/2004,06/04/2004,1952.0
20,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
range(1,10)

range(1, 10)

In [14]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [15]:
base_url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action"
base_url

'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action'

In [16]:
urls_fl = []

for url_number in range(1,6):
   # print(url_number)
   # print(f"{base_url}{url_number}.html")
    urls_fl.append(f"{base_url}{url_number}.html")

In [17]:
urls_fl

['https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action1.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action2.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action3.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action4.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action5.html']

In [18]:
urls_lc = [ f"{base_url}{url_number}.html" for url_number in range (1,6)]
urls_lc

['https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action1.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action2.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action3.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action4.html',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action5.html']

In [19]:
from random import randrange
import time

In [ ]:
df_all = []
problem_urls = [] #hold problem urls
counter = 0

for url in urls_lc:
    counter = counter + 1
    print(f"Scraping link {counter} of {total_links}")
    try:
        df = pd.read_html(url)
        print(df)
        df_all.append(df[0])
    except:
        print(f"Oh oh...problem with {url}")
        problem_urls.append(url)
    finally:
        snoozer = randrange(5,12)
        print(f"snoozing for {snoozer} seconds before next scrape")
        time.sleep(snoozer)
        
print("Done scraping!")